<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="row Main-Header">
  <div class="col-lg-10">
    User Settings
  </div>
  <div class="col-lg-1">
    <button type="button" class="btn btn-warning Main-Button" style="float: right">Delete</button>
  </div>
  <div class="col-lg-1 text-right">
    <button type="button" class="btn btn-primary Main-Button" style="float: left">Save</button>
  </div>
</div>
<div class="row">
  <!--Left Side-->
  <div class="col-lg-4">
    <div class="row">
      <div class="col-lg-12">
        <div class="col-lg-3 Remove-Padding">
          User Id:
        </div>
        <div class="col-lg-9">
          <input type="text" name="txtUserId" id="txtUserId" value="">
        </div>
      </div>
    </div>
    <div class="row Add-TopPadding">
      <div class="col-lg-12">
        <div class="col-lg-3 Remove-Padding">
          Name:
        </div>
        <div class="col-lg-9">
          <input type="text" name="txtName" id="txtName" value="" class="UserPage-TextBox">
        </div>
      </div>
    </div>
    <div class="row Add-TopPadding">
      <div class="col-lg-12">
        <div class="col-lg-3 Remove-Padding">
          Tel No:
        </div>
        <div class="col-lg-9">
          <input type="text" name="txtTelephone" id="txtTelephone" value="" class="UserPage-TextBox">
        </div>
      </div>
    </div>
    <div class="row Add-TopPadding">
      <div class="col-lg-12">
        <div class="col-lg-3 Remove-Padding">
          Fax:
        </div>
        <div class="col-lg-9">
          <input type="text" name="txtFax" id="txtFax" value="" class="UserPage-TextBox">
        </div>
      </div>
    </div>
    <div class="row Add-TopPadding">
      <div class="col-lg-12">
        <div class="col-lg-3 Remove-Padding">
          Mail Add:
        </div>
        <div class="col-lg-9">
          <input type="text" name="txtEmail" id="txtEmail" value="" class="UserPage-TextBox">
        </div>
      </div>
    </div>
    <div class="row Add-TopPadding">
      <div class="col-lg-12">
        <div class="col-lg-3 Remove-Padding">
          Help language:
        </div>
        <div class="col-lg-9">
          <input type="text" name="txtHelp" id="txtHelp" value="" class="UserPage-TextBox">
        </div>
      </div>
    </div>
    <div class="row Add-TopPadding">
      <div class="col-lg-12">
        <div class="col-lg-3 Remove-Padding">
          Business Unit:
        </div>
        <div class="col-lg-9">
          <input type="text" name="txtBusiness" id="txtBusiness" value="" class="UserPage-TextBox">
        </div>
      </div>
    </div>
  </div>
  <!--2nd Column-->
  <div class="col-lg-2 Userpanel">
    <div class="col-lg-12">
      <div class="row">
        <button type="button" class="btn btn-primary" style="width:175px" id="btnAdd">Add user</button>
      </div>
      <div class="row Add-TopPadding">
        <button type="button" class="btn btn-primary" style="width:175px" id="btnCopy">Copy user</button>
      </div>
      <div class="row Add-TopPadding">
        Swap user
      </div>
      <div class="row">
        <input type="text" name="txtSwap" id="txtSwap">
      </div>
      <div class="row Add-TopPadding">
        <button type="button" class="btn btn-primary" style="width:175px" id="btnSwap">Swap user</button>
      </div>
    </div>
  </div>
  <!--3rd Column-->
  <div class="col-lg-3">
    <div class="col-lg-12">
      <fieldset class="scheduler-border">
        <legend class="scheduler-border">User Type</legend>
        <div class="checkbox">
          <label>
    <input type="checkbox" value="">
    Show all PRAs
        </label>
        </div>
        <div class="checkbox ">
          <label>
    <input type="checkbox" value="">
    Create SQ Report
  </label>
        </div>
        <div class="checkbox">
          <label>
    <input type="checkbox" value="">
    Create Trp Claim
  </label>
        </div>
        <div class="checkbox">
          <label>
    <input type="checkbox" value="">
    Create QSC Investigation
  </label>
        </div>
        <div class="checkbox">
          <label>
    <input type="checkbox" value="">
    Create One Buyers Claim
  </label>
        </div>
        <div class="checkbox">
          <label>
    <input type="checkbox" value="">
    Create Salesstop
  </label>
        </div>
        <div class="checkbox">
          <label>
    <input type="checkbox" value="">
    Alarm Access
  </label>
        </div>
        <div class="checkbox">
          <label>
    <input type="checkbox" value="">
    Memo Reciever
  </label>
        </div>
        <div class="Add-LeftPadding">
          <div class="checkbox">
            <label>
    <input type="checkbox" value="">
    Buyers Claim
  </label>
          </div>
          <div class="checkbox">
            <label>
    <input type="checkbox" value="">
    Corrective Action Req
  </label>
          </div>
          <div class="checkbox">
            <label>
    <input type="checkbox" value="">
    Investigation(Crit/Stop)
  </label>
          </div>
          <div class="checkbox">
            <label>
    <input type="checkbox" value="">
    Sales Stop
  </label>
          </div>
          <div class="checkbox">
            <label>
    <input type="checkbox" value="">
    Alarms
  </label>
          </div>
        </div>

      </fieldset>
    </div>
  </div>
  <!--3rd Column-->
  <div class="col-lg-3">
    <fieldset class="scheduler-border">
      <legend class="scheduler-border">User Rights</legend>
      <input type="radio" name="gender" value="male"> System Admin<br>
      <input type="radio" name="gender" value="female">Super User<br>
      <input type="radio" name="gender" value="other">Normal User<br>
      <input type="radio" name="gender" value="female">Look User
      <div class="checkbox">
        <label>
    <input type="checkbox" value="">
    Is CPU User
  </label>
      </div>
    </fieldset>
  </div>
</div>
<div class="row">
  <!--Left Side-->
  <div class="col-lg-6">
    <div class="row">
      <div class="col-lg-12">
        <fieldset class="scheduler-border">
          <legend class="scheduler-border">PRAs</legend>
          <div class="col-lg-6">
            <select id="lstPRA" class="UserSettingsSelect" multiple="true" size="6" name="lstPRA"></select>
            <input id="txtPRASel" style="display: none" type="text" name="txtPRASel" />
          </div>
          <div class="col-lg-6">
            <input id="cmdAddPRA" class="btn btn-primary" type="button" value="Add PRA" name="cmdAddPRA">
            <input id="cmdRemovePRA" class="btn btn-primary" type="button" value="Remove PRA" name="cmdRemovePRA">
          </div>
        </fieldset>
      </div>
    </div>
  </div>
  <!--2nd Column-->
  <div class="col-lg-6">
    <div class="col-lg-12">
      <fieldset class="scheduler-border">
        <legend class="scheduler-border">Queues</legend>
        <div class="row">
          <div class="col-lg-6">
            Page Size(cases visible/page)
          </div>
          <div class="col-lg-6 dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="true">
              30
            <span class="caret"></span>
            </button>
          </div>
        </div>
        <div class="row">
          <div class="row">
            <div class="col-lg-5">
              <select class="UserSettingsSelect" multiple="true" size="6" name="lstPRA"></select>
              <input style="display: none" type="text" name="txtPRASel" />
            </div>
            <div class="col-lg-1">
              <span class="CenteredSpan">
                  <img alt="connect queue" title="Add queue to user" height="14" src="leftarr.gif" width="14" runat="server">
					        <img alt="disconnect queue" id="imgDisconnect" title="Remove queue from user"  height="14" src="images/rightarr.gif" width="14" runat="server" />
                  <input id="txtSelQueues" style="display: none" type="text" runat="server" />
                  <input id="txtAvailQueues" style="display: none" type="text" runat="server" />
              </span>
            </div>
            <div class="col-lg-6 dropdown">
              <select class="UserSettingsSelect" multiple="true" size="6" name="lstPRA"></select>
              <input style="display: none" type="text" name="txtPRASel" />
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</div>


