<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="container" style="width:75%">
  <div class="row Main-Header">
    <div class="col-lg-10">
      User Settings
    </div>
    <div class="col-lg-1">
      <button type="button" class="btn btn-warning Main-Button">Delete</button>
    </div>
    <div class="col-lg-1 text-right">
      <button type="button" class="btn btn-primary Main-Button">Save</button>
    </div>
  </div>
  <div class="row">
    <!--Left Side-->
    <div class="col-lg-4">
      <div class="row">
        <div class="col-lg-12">
          <div class="col-lg-3 Remove-Padding">
            User Id:
          </div>
          <div class="col-lg-9">
            <!--xxxxxxxxx xxxxxxxxxx      xxxxxxxxxxxxxx xxxxxxx xxxxxxxxxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxx-->
            <input type="text" name="txtUserId" id="txtUserId" value="">
          </div>
        </div>
      </div>
      <div class="row Add-TopPadding">
        <div class="col-lg-12">
          <div class="col-lg-3 Remove-Padding">
            Name:
          </div>
          <div class="col-lg-9">
            <input type="text" name="txtName" id="txtName" value="" class="UserPage-TextBox">
          </div>
        </div>
      </div>
      <div class="row Add-TopPadding">
        <div class="col-lg-12">
          <div class="col-lg-3 Remove-Padding">
            Tel No:
          </div>
          <div class="col-lg-9">
            <input type="text" name="txtTelephone" id="txtTelephone" value="" class="UserPage-TextBox">
          </div>
        </div>
      </div>
      <div class="row Add-TopPadding">
        <div class="col-lg-12">
          <div class="col-lg-3 Remove-Padding">
            Fax:
          </div>
          <div class="col-lg-9">
            <input type="text" name="txtFax" id="txtFax" value="" class="UserPage-TextBox">
          </div>
        </div>
      </div>
      <div class="row Add-TopPadding">
        <div class="col-lg-12">
          <div class="col-lg-3 Remove-Padding">
            Mail Add:
          </div>
          <div class="col-lg-9">
            <input type="text" name="txtEmail" id="txtEmail" value="" class="UserPage-TextBox">
          </div>
        </div>
      </div>
      <div class="row Add-TopPadding">
        <div class="col-lg-12">
          <div class="col-lg-3 Remove-Padding">
            Help language:
          </div>
          <div class="col-lg-9">
            <input type="text" name="txtHelp" id="txtHelp" value="" class="UserPage-TextBox">
          </div>
        </div>
      </div>
      <div class="row Add-TopPadding">
        <div class="col-lg-12">
          <div class="col-lg-3 Remove-Padding">
            Business Unit:
          </div>
          <div class="col-lg-9">
            <input type="text" name="txtBusiness" id="txtBusiness" value="" class="UserPage-TextBox">
          </div>
        </div>
      </div>
    </div>
    <!--2nd Row-->
    <div class="col-lg-4">

    </div>
    <!--3rd Row-->
    <div class="col-lg-2">

    </div>

    <div class="col-lg-2">

    </div>

  </div>
</div>